# Project specific
##################################

dist/
build/
tmp/
node_modules/
docs/
*.log

# Go
##################################

__debug_bin*
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
# vendor/
go.work
go.work.sum

.env
.env.local
.env.*.local

*.dump
bin/

.idea/
*.swp
*.swo
*~

# MacOS
##################################

.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
##################################

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Linux
##################################

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
nohup.out